{% extends 'base.html.twig' %}

{% block title %}Achetez Cinoche !{% endblock %}

{% block content %}
<div class="text-center mt-5">
        <h1>Bienvenue sur Achats-Cinoche !</h1>
        <p>Cliquez ci-dessous pour voir nos produits</p>
        <a href="{{ path('product_liste') }}" class="btn btn-primary btn-lg">Voir les produits</a>
    </div>
{% endblock %}
