{% extends 'base.html.twig' %}
 
{% block title %}Nouveau Produit{% endblock %}
 
{% block content %}
    <h1>Ajouter un nouveau produit</h1>
 
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
 
    <a href="{{ path('product_liste') }}">Retour à la liste des produits</a>
{% endblock %}