<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                Achats-Cinoche
            </a>

            <!-- Toggler for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation links and search bar -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <!-- Search bar in the center -->
                <form class="d-flex w-50" action="{{ path('product_search') }}" method="GET">
                    <input class="form-control me-2" type="search" name="query" placeholder="Rechercher un produit" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Rechercher</button>
                </form>

            </div>

            <!-- Panier button -->
            <div class="d-flex ms-auto">
                <a href="/cart" class="btn btn-outline-success">
                    <i class="bi bi-cart-fill"></i> Panier
                </a>
            </div>
        </div>
    </nav>
</header>
